################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Temp
/.vs/MDRPG/v16/Server/sqlite3/db.lock
/.vs/MDRPG - Unity Project/v16/Server/sqlite3/db.lock
